* {
    font-size: 10px;
    background-size: cover;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url("./img/29\ -\ 5AdqfiV.jpg");
    background-color: #000;
    font-family: sans-serif;
}

.keys {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    flex-flow: row wrap;
    justify-content: center;
}

.key {
    border-radius: .5rem;
    margin: 1rem;
    transition: all .1s ease;
    text-align: center;
}

.playing {
    transform: scale(1.01);
    border-color: #004770;
    box-shadow: 0 0 1rem #002435;
    background-color: #00c3ff;
}

kbd {
    display: block;
    font-size: 4rem;
}

.sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
}